<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>422331678103-4opvqvcqqtkc8jpp16ci6lae311fo5i6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422331678103-4opvqvcqqtkc8jpp16ci6lae311fo5i6</string>
	<key>API_KEY</key>
	<string>AIzaSyCzc5QMcGxXHKwES5Kh96vh8cmL7zEDr1g</string>
	<key>GCM_SENDER_ID</key>
	<string>422331678103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CF.Crummy</string>
	<key>PROJECT_ID</key>
	<string>crummy-6bbcc</string>
	<key>STORAGE_BUCKET</key>
	<string>crummy-6bbcc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422331678103:ios:d0be77375adfcaa6</string>
	<key>DATABASE_URL</key>
	<string>https://crummy-6bbcc.firebaseio.com</string>
</dict>
</plist>